<p id="notice"><%= notice %></p>

<p>
  <strong>Sketch:</strong>
  <%= @sketch.sketch %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sketch.description %>
</p>

<%= link_to 'Edit', edit_sketch_path(@sketch) %> |
<%= link_to 'Back', sketches_path %>
